<div class='container'>
  <div class='row'>
<div class="card-list-containar py-5">
  <% @reviews.each do |review| %>
  <div class="card w-100 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag review.user, :image, :fill, 60, 60, fallback: "no_profile_image.jpg", class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <strong><i class="far fa-flag"></i><span> <%= review.title %></span></strong>
            評価：<%= review.rate %>点
            <div id="star-rate-<%= review.id %>"></div>
              <script>
              $('#star-rate-<%= review.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= review.rate %>,
                scoreName: 'review[rate]'
              });
              </script>
              <style>
                #star-rate-<%= review.id %> img {
                  width: 20px;
                  height: 20px;
                }
              </style>
          </p>
          <p class="card-text"><%= review.body %></p>
          <span><i class="fas fa-user"></i>
            <%= link_to user_path(review.user.id) do %>
              By <%= review.user.name %> ｜
              <% end %>
          </span>
          <span><%= link_to "#{review.review_comments.count} コメント", new_review_review_comment_path(review.id), class:"text-dark" %></span>
          <% if current_user == review.user %>
            <%= link_to '削除', review, method: :delete, class:'badge badge-danger', data: { confirm: '削除しますか？' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%#= paginate @reviews %>
</div>